<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><a href="<%= bookmark.url %>"><%= bookmark.title %></a></li>
  <% end %>
</ul>

<form action='/new' method="get">
<input type="submit" value="Add" />
</form>